* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.headimg > img {
  width: 100%;
}

.logo {
  display: block;
  width: 150px;
  text-decoration: none;
  margin-right: 100px;
}


.productList {
  display: flex;
  flex-wrap: wrap;
}

.productList>div{
  width: calc(100% / 3 - 20px);
  margin: 10px;
  cursor: pointer;
}
.list img {
  width: 100%;
}

.list p {
  margin-bottom: 5px;
  text-align: center;
}

.list p:nth-of-type(3) {
  font-size: 20px;
  text-align: center;
}
.list p:nth-of-type(4) {
  display: none;
}
.list_con {
  text-align: center;
}
